.additionalTopMain {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftItemContainer {
    text-decoration: none;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftItemIcon {
    font-size: 13px;
    margin-right: 3px;
    color: #ffb04c;
}

.leftItem {
    color: #ffb04c;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 500;
}

.rightItem {
    text-decoration: none;
    color: #ffb04c;
    margin: 0 5px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ffb04c;
    font-size: 13px;
    font-weight: 500;
    transition: all 0.5s ease;
}

.rightItem:hover {
    background-color: #bb6a00;
    color: white;
    border-radius: 10px;
}

@media (max-width: 1023px) {
    .additionalTopMain {
        display: none;
    }
}