.wrapper {
    width: 100%;
    padding: 5px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.star {
    font-size: 18px;
    color: gray;
}

.star.active {
    color: #ffb04c;
}