.container {
    width: 100%;
    max-width: 1400px;
    margin: 100px 0 50px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftItem {
    position: relative;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftItemImg1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* display: none; */
}

.img2Container {
    position: absolute;
    bottom: 0;
    right: 0;
    animation: slideUpDown 10s ease infinite;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.leftItemImg2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@keyframes slideUpDown {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-10%);
    }

    100% {
        transform: translateY(0%);
    }
}


.rightItem {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.headerWhiteExtraSmall {
    font-size: 1.1rem;
    margin: 10px 0;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
}

.headerWhiteLarge {
    font-size: 2rem;
    letter-spacing: 1.5px;
    font-weight: 600;
    margin: 10px 0;
    color: white;
    text-transform: capitalize;
}

.description {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.navBtnContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navBtn {
    width: 140px;
    height: 40px;
    border: 1px solid #6d4107;
    color: #bb6a00;
    font-size: 13.5px;
    font-weight: 600;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    cursor: pointer;
}

.navBtn.active {
    background-color: #bb6a00;
    color: white;
}

.navBtn:nth-child(2) {
    border-right: none;
    border-left: none;
}

.detailsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


@media (max-width: 1023px) {
    .container {
        flex-direction: column;
        padding: 10px;
        margin: 100px 0 10px;
    }

    .leftItem {
        width: 100%;
        margin-bottom: 20px;
    }

    .rightItem {
        width: 100%;
        margin-top: 20px;
    }

    .img2Container {
        width: 50%;
        height: auto;
    }

    @keyframes slideUpDown {
        0% {
            transform: translateY(0%);
        }
    
        50% {
            transform: translateY(-5%);
        }
    
        100% {
            transform: translateY(0%);
        }
    }
}