.container {
    width: 100%;
    padding: 200px 0 50px;
    box-sizing: border-box;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #3e3f41;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3e3f41;
}

.leftItem {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bgContainer {
    width: 100%;
    height: 100%;
}

.bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form {
    width: 50%;
    height: 100%;
    padding: 20px;
    padding-left: 50px;
    box-sizing: border-box;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.title {
    display: block;
    font-size: 1.7rem;
    font-weight: 600;
    color: white;
    margin: 5px 0;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.inputContainer {
    position: relative;
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
    border: 1px solid lightgray;
    background-color: #3e3f41;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
}

.inputGroup {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.miniInput {
    position: relative;
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: white;
    margin: 5px 0;
    padding: 5px;
    box-sizing: border-box;
}


.label {
    position: absolute;
    top: 0;
    left: 10px;
    padding: 5px 10px;
    box-sizing: border-box;
    font-size: 12px;
    color: white;
    background-color: #3e3f41;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    opacity: 0;
    transition: all 0.8s ease;
    transform: translateY(10px);
    z-index: 0;
    padding-left: 10px;
}

.label.activeLabel {
    transform: translateY(-20px);
    opacity: 1;
}

.input {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    z-index: 1;
    color: lightgray;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 13px;
}

.input::placeholder {
    text-transform: capitalize;
    color: white;
    font-size: 13px!important;
}

.radioInput {
    height: 30px;
    margin-right: 10px;
}

input[type="radio"] {
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.radioLabel {
    font-size: 13px;
    color: white;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.btnGroup {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.btn {
    width: 150px;
    height: 40px;
    cursor: pointer;
    font-size: 13px;
    text-transform: capitalize;
}

.btn:nth-child(1) {
    border: 1px solid #ffb04c;
    background-color: #ffb04c;
    color: white;
    margin-right: 5px;
}

.btn:nth-child(2) {
    border: 1px solid lightgray;
    background-color: lightgray;
    color: black;
    margin-left: 5px;
}

@media (max-width: 1023px) {
    .container {
        padding: 100px 20px;
    }
    .wrapper {
        flex-direction: column;
    }

    .inputContainer {
        width: 100%;
    }

    .leftItem {
        width: 100%;
    }

    .form {
        width: 100%;
        padding-left: unset;
        padding: 20px;
    }

    .btnGroup {
        justify-content: center;
    }
    
    .btn {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .container {
        padding: 100px 10px 50px;
    }
    .leftItem {
        width: 100%;
    }

    .wrapper {
        padding: 0;
    }

    .form {
        padding: 5px
    }

}