.drawtoggleMain {
    width: 40px;
    height: 40px;
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;
    display: none;
    justify-content: center;
    align-items: center;
}

.drawtoggle {
    width: 100%;
    color: white;
}

@media (max-width: 1023px) {
    .drawtoggleMain {
        display: flex;
    }
}