.descriptionWrapper {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: hidden;
}

.description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.7s ease;
}

.description.active {
    transform: translateX(0);
    opacity: 1;
}
    
ul {
    width: 100%;
    list-style:square;
    padding-left: 20px;
    box-sizing: border-box;
}

li {
    width: 100%;
    margin: 5px 0;
    color: white;
    font-weight: 500;
    font-size: 15px;
}

p {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.7px;
    line-height: 23px;
    color: white;
}


@media (max-width: 1023px) {
    .descriptionWrapper {
        height: 200px;
    }
}

@media (max-width: 767px) {
    .descriptionWrapper {
        height: 250px;
    }
}

@media (max-width: 400px) {
    .descriptionWrapper {
        height: 300px;
    }
}