.container {
    position: relative;
    width: 100%;
    max-width: 1400px;
    height: 400px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.leftItem {
    position: relative;
    top: 0;
    left: -100%;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    transition: all 1.5s ease;
    align-items: center;
    opacity: 0;
}

.leftItem.initLeft {
    /* transform: translateX(100%); */
    left: 0;
    opacity: 1;
}

.rightItem {
    position: relative;
    top: 0;
    right: -100%;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1.5s ease;
    opacity: 0;
}

.rightItem.initRight {
    right: 0;
    opacity: 1;
}

.leftImg, .rightImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: contrast(1.1);
}

@media (max-width: 1023px) {
    .leftItem, .rightItem {
        width: 250px;
        height: 350px;
    }
}

@media (max-width: 767px) {
    .container {
        margin: 20px auto;
    }
    .leftItem, .rightItem {
        width: 200px;
        height: 300px;
    }
}

@media (max-width: 550px) {
    .leftItem, .rightItem {
        width: 150px;
        height: 250px;
    }
}