.container {
    width: 100%;
    padding: 50px 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    background-color: rgb(68, 68, 68);
}

.leftItem {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.headerLargeWhite {
    width: 350px;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    letter-spacing: 1px;
    line-height: 40px;
    text-transform: capitalize;
}

.btnGroup {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.btn {
    width: 150px;
    height: 40px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.9s ease;
}

.btn:nth-child(1) {
    border: 1px solid #ffb04c;
    background-color: #ffb04c;
    color: white;
    margin-right: 5px;
}

.btn:nth-child(1):hover {
    background-color: #ff9204;
}

.btn:nth-child(2) {
    border: 1px solid rgb(41, 40, 40);
    background-color: rgb(41, 40, 40);
    color: white;
    margin-left: 5px;
}

.btn:nth-child(2):hover {
    background-color: rgb(0, 0, 0);
}

.rightItem {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.address {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.headerSmallWhite {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    text-transform: capitalize;
    margin: 10px 0;
}

.textSmallWhite {
    font-size: 15px;
    font-weight: 500;
    color: white;
    text-transform: capitalize;
    margin: 2px 0;
}

.iconContainer {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.socialLinkContainer {
    width: 35px;
    height: 35px;
    /* background-color: rgb(49, 49, 49); */
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.socialIcon {
    font-size: 22px;
    color: white;
}

.contact {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.tel {
    text-decoration: underline;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

@media (max-width: 1023px) {
    .container {
        flex-direction: column;
    }

    .leftItem {
        width: 100%;
    }

    .rightItem {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .container {
        padding: 20px 10px 120px;
    }

    /* .headerLargeWhite {
        width: auto;
    } */

    .leftItem {
        padding: 0;
    }

    .rightItem {
        padding: 0;
        flex-direction: column;
    }

    .address {
        width: 100%;
        padding: 10px;
    }

    .contact {
        width: 100%;
        padding: 10px;
    }
}

@media (max-width: 400px) {
    .headerLargeWhite {
        width: 300px;
    }
}